<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_gazebo)/robots/panda_arm_hand.urdf.xacro"/>
  <node name="spawn" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model panda" output="screen"/>

  <rosparam command="load" file="$(find franka_gazebo)/config/joint_states.yaml" ns="franka"/>
  <rosparam command="load" file="$(find franka_gazebo)/config/pid.yaml"/>
  <rosparam command="load" file="$(find franka_gazebo)/config/arm_controller.yaml" />
  <rosparam command="load" file="$(find franka_gazebo)/config/gripper_controller.yaml" />

  <node name="franka_controller_spawner" pkg="controller_manager" type="spawner" args=
        "franka/joint_state_controller
         position_joint_trajectory_controller
         franka_gripper" output="screen"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" output="screen"/>

  <node pkg="franka_gazebo" type="initial_pose.py" name="initial_pose" output="screen"/>
</launch>
